<!--
  Generated template for the CarroDComprasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>carroDCompras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="table-responsive col-md-12" *ngIf ="almacen.length > 0">
    <table class="table" >
        <!--Fila de los titulos-->
        <tr>
            <th></th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Codigo</th>
            <th>Total</th>					    
        </tr>
        <!--Contenidos-->
        <tr *ngFor="let producto of almacen">
            <th width="62px"><button type="button" (click)="eliminarDelCarro(producto.id)" class="btn btn-danger btn-sm">Eliminar <span class="glyphicon glyphicon-remove"></span></button></th>
            <th><img src="{{producto.img}}">
            </th>
            <th>{{producto.precio}}$</th>
            <th width="62px"><input type="number" name="cantidad" placeholder="CANTIDAD" class="btn" [(ngModel)]="cantidad"></th>
            <th width="62px">{{producto.id}}</th>
            <th>{{producto.facturar()}}$</th>
        </tr>
        <button ion-button slot="end" (click)=pagar()>
          Pagar 
        </button>
    </table>
  </div>
</ion-content>
