page-detalles {
    section {
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 35px;
        color: #f57f17; }
      
      #Encabezado {
        margin-left: 9%;
        width: 81%;
        padding-bottom: 30px;
        border-bottom: 1px solid gray; }
      
      .h-center {
        text-align: center; }
      
      .pDestallesProducto, .perfil-detalles p, .perfil-vendedor p {
        font-family: "Josefin Sans", arial, sans-serif;
        line-height: 1.7;
        margin: 10px; }
      
      .carousel-inner > .item > img, .img-responsive {
        height: 400px; }
    
        .buyBottoms{
            margin: 1px 2%;
        }
      
      #perfil-detalles {
        height: 250px;
        background-image: url("../../assets/img/FondoComentariosYDePerfil.jpg"); }
      
      .perfil-vendedor {
        background-image: url("../../assets/img/FondoComentariosYDePerfil.jpg"); }
      
      .p-inline {
        display: inline-block; }
      
      #comentarios {
        width: 100%;
        height: 200px; }
      
      .glyphicon {
        margin: 0px 10px 0px 10px; }
}
