<!--
  Generated template for the PagoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pago</ion-title>
    <ion-buttons end>
        <button ion-button (click)="cerrar()">
          <span ion-text color="primary" showWhen="ios">Close</span>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <section>
        <h2 id="Encabezado">Procesamiento de pago</h2> 
        <span class="glyphicon glyphicon-credit-card" id="glyphicon-credit-card"></span>
    </section>

    	<form  #formulario="ngForm">
               <ion-list id="formulario">
                 <ion-item >
                   <ion-label stacked>
                     TOTAL: {{precio}}
                   </ion-label>
                 </ion-item>
                  <ion-item>
                    <ion-label stacked>Cedula:</ion-label>
                    <ion-input type="text" name="cedula" placeholder="EJ:28119876" maxlength="8" [(ngModel)]="cedula" required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label stacked>Nombre:</ion-label>
                    <ion-input type="text" name="nombre" placeholder="EJ:ingrese su nombre" id="nombre"[(ngModel)]="nombre" required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label stacked>Nombre de usuario:</ion-label>
                    <ion-input type="text" name="Nusuario" placeholder="Ej:maclovin nombredeusuario"[(ngModel)]="nombreUsuario" required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label stacked>Clave De la tarjeta:</ion-label>
                    <ion-input type="text" type="password" name="clave de la tarjeta" placeholder="minimo 4 caracteres" required [(ngModel)]="claveTarjeta"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label stacked>Mes De Vencimiento:</ion-label>
                    <ion-input type="text" name="nombre" placeholder="EJ:mes de vecimiento de la tarjeta 01/10/20" [(ngModel)]="mesDVencimiento" required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label stacked>Tipo De Cuenta:</ion-label>
                    <ion-input type="text" name="nombre" placeholder="EJ:ingrese el tipo de cuenta" id="nombre"[(ngModel)]="tipoDCuenta" required></ion-input>
                  </ion-item>
              </ion-list>

              <button [disabled]="!formulario.valid" ion-button block type="button" (click)="comprar()">Comprar</button>
      </form>

</ion-content>
