page-pago {
    #exitoso{
        position: relative;
     left: 71px;
     font-size: 20px;
     color: red;
     z-index: 2;
    }
    
    #error{
    position: relative;
     right:63px;
     font-size: 20px;
     color: red;
     z-index: 3;
    }
    
    input{
        transition-duration: 1s;
    }
    
    div+p{
        text-align: center;
    }
    #formulario{
        background: #488aff;
    }
    
    span{
        color: black;
        font-size: 16px;
    }
    
    h1{
        display: inline-block;
    }
    
    #glyphicon-credit-card{
        visibility: visible;
        font-size: 50px;
    }
}
