
<ion-header>

  <ion-navbar>
    <ion-title>{{usuario.nombreCompleto}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item-group>
		<ion-item-divider color="dark">
			Bienvenido de nuevo {{usuario.nombreUsuario}}
		</ion-item-divider>
	</ion-item-group>  
  <div padding>
    <div *ngIf="categoriasApi.length>0">
      <button (click)="verDetalle(opcion.id)" *ngFor="let opcion of categoriasApi" ion-button block type="button">{{opcion.name}}</button>

    </div>
    <ion-row>
      <ion-col>
          <button ion-button block type="button" (click)="actualizar()">Actualizar datos</button>
      </ion-col>
      <ion-col>
        <button ion-button block type="button" (click)="Vercarro()">Carrito</button>
    </ion-col>
      <ion-col>
          <button ion-button block type="button" (click)="cerrarSesion()">Cerrar Sesion</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
