
<ion-header>

  <ion-navbar>
    <ion-title>InicioSesion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>Nombre de usuario:</ion-label>
      <ion-input type="text" placeholder="Nombre de Usuario" [(ngModel)]="nombreUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="eye" item-start></ion-icon>
      <ion-label stacked>Contraseña:</ion-label>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="clave"></ion-input>
    </ion-item>    
  </ion-list>

  <div padding>
    <ion-row>
      <ion-col>
          <button ion-button block type="button" (click)="validarUsuario()">Iniciar Sesion</button>
      </ion-col>
      <ion-col>
          <button ion-button block type="button" (click)="Irperfil()">Olvidé Mi Contraseña</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
