<!--
  Generated template for the ContraseñaOlvidadaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>contraseñaOlvidada</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerrar()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>Correo:</ion-label>
      <ion-input type="text" placeholder="Correo electronico" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item *ngIf="clave!=='' ">
      <ion-icon name="cloudy-night" item-start></ion-icon>
      <ion-label stacked>Contraseña:</ion-label>
      <ion-input type="text" placeholder="Contraseña" [(ngModel)]="clave"></ion-input>
    </ion-item>
    <button ion-button block type="button" (click)="buscarUsuario()">Buscar Clave</button>
    
  </ion-list>
</ion-content>
