<ion-header>
  <ion-navbar color="primary">
    <ion-title>Formulario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person-add" item-start></ion-icon>
          <ion-label stacked>Nombre completo:</ion-label>
          <ion-input type="text" placeholder="Nombre" [(ngModel)]="nombrecompleto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person-add" item-start></ion-icon>
          <ion-label stacked>Nombre de usuario:</ion-label>
          <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" item-start></ion-icon>
          <ion-label stacked>Correo electronico:</ion-label>
          <ion-input type="email" placeholder="Email" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
          <ion-label stacked>Fecha de nacimiento:</ion-label>
          <ion-input  displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY" [(ngModel)]="fecha"></ion-input>
        </ion-item>
          <ion-item>
            <ion-icon name="eye" item-start></ion-icon>
            <ion-label stacked>Contraseña:</ion-label>
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="clave"></ion-input>
          </ion-item>
      </ion-list>
    <div padding>
      <button ion-button block type="button" (click)="validarExistencia()">Registrarse</button>
    </div>
</ion-content>
